In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv(r'd:/Data_Eng_Zoomcamp/week_1_setup/docker_sql/yellow_head.csv', nrows=100)

In [3]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [4]:
tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
# specify the database you want to use based on the docker run command we had
# postgresql://username:password@localhost:port/dbname
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [10]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

df = next(df_iter)
# len(df) -> 100000

In [11]:
# get only the name of the columns and no data
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [12]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

1000

In [14]:
from time import time

while True:
	# benchmark time start
	t_start = time()

	# iterates through 100000 chunks of rows
	df = next(df_iter)

	# fixes timestamp type issue
	df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
	df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

	# appends data to existing table
	df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

	# benchmark time ends
	t_end = time()

	# prints the time it took to execute the code
	print('Inserted another chunk... took %.3f second(s)' % (t_end - t_start))

Inserted another chunk... took 24.157 second(s)
Inserted another chunk... took 23.224 second(s)
Inserted another chunk... took 22.617 second(s)
Inserted another chunk... took 25.505 second(s)
Inserted another chunk... took 25.918 second(s)

KeyboardInterrupt: